In [1]:
import pandas as pd

In [6]:
with open('input.txt', 'r') as f:
    lines = f.readlines()
    
lines = [l.strip() for l in lines]

In [9]:
elves = []

tmp = 0
idx = 1

for line in lines:
    if not line:
        elves.append({'idx': idx, 'cal': tmp})
        tmp = 0
        idx += 1
    else:
        tmp += int(line)

df = pd.DataFrame(elves).sort_values(['cal'], ascending=False).reset_index(drop=True)
df

     idx    cal
0    210  70374
1    231  68996
2    120  65240
3      9  64812
4    218  64563
..   ...    ...
233   47  19407
234    7  16730
235   84  15207
236   20  13638
237  154  11496

[238 rows x 2 columns]

In [16]:
print(f"Most Cal:\t\t{df['cal'].max()}")
print(f"Sum of largest 3:\t{df[:3]['cal'].sum()}")

Most Cal:		70374
Sum of largest 3:	204610